body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

input {
  height: 2rem;
  width: 5rem;
  margin: .5rem 0;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  padding: 1.5rem .5rem;
}

.form-group {
  margin: 1rem 0;
}

thead {
  font-weight: bold;
  background: #000;
  color: white;
}

.trade-row-profit {
  background: rgb(172, 255, 172);
}

.trade-row-loss {
  background: rgb(255, 185, 185);
}

td {
  border: 1px solid grey;
  text-align: center;
  width: 10rem;
  padding: 5px;
}

td input {
  width: 90%;
}

button {
  border: none;
  padding: 5px;
  width: 5rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background: #000;
}

.form-control button {
  width: 30px;
}
h1 button {
  width: 100px;
  background: blue;
}

button:active {
  transform: translateY(1px);
}

.profit-button {
  background: rgb(53, 230, 53);
}

.loss-button {
  background: rgb(252, 41, 41);
}

@media only screen and (max-width: 481px) {
  tr {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  td {
    width: 400px;
  }
}